#navigation {
  padding: 0px;
  border: 1px solid #ddd;
  border-radius: 4px;
  
}
#navigation .nav-tabs > li {
  width: 50%;
  background-color: #e4ecb7;
}

#navigation .nav-tabs li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  margin: 0px;
  color: #e07513;
}

@charset "utf-8";

/* ---------------------------------------------
 Common Set 
--------------------------------------------- */
#navigation .menu {
  padding: 0px;
  margin: 0px;
}

#navigation .menu .iterate a:link,
#navigation .menu .iterate a:visited,
#navigation .menu .iterate a:hover,
#navigation .menu .iterate a:active {
  color: #e07513;
}

#navigation a:hover, a:active { text-decoration: none; }

#navigation .menu .iterate {
  margin: 0 auto;
  padding: 0;
}

#navigation .menu .iterate li { list-style: none; }

#navigation .menu .iterate li a {
  display: table;
  margin-top: 1px;
  padding: 14px 10px;
  width: 100%;
  background: #333;
  text-decoration: none;
  text-align: left;
  vertical-align: middle;
  color: #e07513;
  overflow: hidden;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-property: background;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

#navigation .menu .iterate > li:first-child a { margin-top: 0; }

#navigation .menu .iterate li a:hover {
  background: #ddd;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-property: background;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

#navigation .menu .iterate li ul {
  margin: 0;
  padding: 0;
}

#navigation .menu .iterate li li a {
  display: block;
  margin-top: 0;
  padding: 0 10px;
  height: 0;
  background: #C6DDD9;
  color: #1F3D39;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

#navigation .menu .iterate > li:hover li a {
  display: table;
  margin-top: 1px;
  padding: 10px;
  width: 100%;
  height: 1em;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

#navigation .menu .iterate > li:hover li a:hover {
  background: #A4CAC8;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-property: background;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

#navigation .tab-content span.fa {
  float: right;
  text-align: center;
  margin-top: 5px;
  font-size: 10px;
  min-width: inherit;
  color: #e07513;
}

#navigation .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background: #155e63;
}
