<div class="container">
	<div>
		<div class="row">
			<div class="col-md-4 col-sm-12 col-xs-12" id="showArticleMap">
				<ng-map zoom="14" center="{{article.lat}}, {{article.long}}" >
	        <directions
	          draggable="true"
	          travel-mode="DRIVING"
	          origin="current-location"
	          destination="{{article.lat}}, {{article.long}}">
	        </directions>
	      </ng-map>
      </div>
      <!-- Article Article Content Column -->
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="row thumbnail padding-10" id="articleShowContentBox">
          <!-- Article Article -->

          <!-- Title -->
          <span class="label-title">{{ article.title }}</span>

          <!-- Author -->
          <p class="margin-top-5 margin-bottom-5">
						<span>
							{{ labelCreatedBy }}: <a href="#"> {{ article.user.email }}</a>
						</span>
          </p>
          <hr class="margin-top-5 margin-bottom-5">
					<div class="row">
						<!-- Date/Time -->
						<p class="pull-right" style="padding-right: 10px;"> <span class="glyphicon glyphicon-time"></span> {{ labelPostedOn }}: {{ article.created_at }} </p>
					</div>
          <hr class="margin-top-5 margin-bottom-5">
          <!-- Preview Image -->
					<div>
				    <div uib-carousel active="active" interval="interval" no-wrap="false" >
				      <div uib-slide ng-repeat="slide in slides" index="slide.id">
				        <img ng-src="{{slide.image}}" style="margin:auto;">
				      </div>
				    </div>
				  </div>
					
          <hr>
          <!-- Article Content -->
          <p class="lead"> {{ article.description }}</p>
          <hr>
          <!-- Article Comments -->

          <!-- Comments Form -->
          <div class="well">
              <h4>{{ labelLeaveAComment }}:</h4>
              <form role="form">
                  <div class="form-group">
                      <textarea class="form-control" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary"> {{ buttonSubmit }}</button>
              </form>
          </div>

          <hr>

          <!-- Articleed Comments -->

					<h4 ng-show="labelError!=null" class="center"> <span class="label label-danger"> {{ labelError }} </span></h4>
        </div>
      </div>
    </div>
	</div>
</div>
