
/* ------------------
    Button
-------------------- */
#error-404 .btnError404, #error-500 .btnError500{
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    border: 0px solid;
    border-bottom: 2px solid;
    border-color: #ef6d00;
    padding: 10px 41px;
    border-radius: 5px;
    background: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 20px 20px 0 0;
    background-color: #ff8000;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}
#error-404 .btnError404:hover, #error-500 .btnError500{
    background: #ef6d00;
    color: #ffffff;
    text-decoration: none;
}
#error-404 .btn-brown, #error-500 .btn-brown{
    border-color: #7b7b7b;
    background-color: #2b86b3;
}
#error-404 .btn-brown:hover, #error-500 .btn-brown:hover{
    background: #7b7b7b;
}


/* ------------------
    Info
--------------------*/
#error-404 .info, #error-500 .info{
    position: relative;
    z-index: 999;
    padding-bottom: 28px;
}

#error-404 .info h1, #error-500 .info h1{
    font-size: 102px;
    font-weight: 700;
    line-height: 105px;
    color: #f35d34;
    text-transform: uppercase;
}

#error-404 .info h2, #error-500 .info h2{
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color: #000000;
    text-transform: uppercase;
}

#error-404 .info p, #error-500 .info p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #000000;
    text-transform: uppercase;
    margin: 15px 0;
}
