<!-- Content Wrapper -->
<div class="container content content-background well" id="error-404">
  <div class="row content">
    <div class="col-md-12 col-sm-12 col-xs-12 center">
        <!-- Info -->
        <div class="info">
            <h1>{{ label404 }}</h1>
            <h2>{{ labelPageNotFound }}</h2>
            <p> {{ content404 }}</p>
            <a ui-sref="home" class="btnError404">{{ buttonGoHome }}</a>
            <a ui-sref="logout" class="btnError404 btn-brown">{{ buttonContactUs }}</a>
        </div>
        <!-- end Info -->
    </div>
  </div>
</div>
