<!-- Content Wrapper -->
<div class="container content content-background well" id="error-500">
  <div class="row content">
    <div class="col-md-12 col-sm-12 col-xs-12 center">
        <!-- Info -->
        <div class="info">
            <h1>{{ label500 }}</h1>
            <h2>{{ labelServerError }}</h2>
            <p> {{ content500 }}</p>
            <a href="#" class="btnError500">{{ buttonGoHome }}</a>
            <a href="#" class="btnError500 btn-brown">{{ buttonContactUs }}</a>
        </div>
        <!-- end Info -->
    </div>
  </div>
</div>
