<div class="container content-background well" id="adsUserBox">
  <uib-tabset active="active">
    <uib-tab index="0" select="active()">
      <uib-tab-heading>
        <i class="glyphicon glyphicon-bell"></i> Acvice!
      </uib-tab-heading>
    </uib-tab>
    <uib-tab index="1" select="waiting()">
      <uib-tab-heading>
        <i class="glyphicon glyphicon-bell"></i> waiting!
      </uib-tab-heading>
      I've got an HTML heading, and a select callback. Pretty cool!
    </uib-tab>
    <uib-tab index="2" select="hidden()">
      <uib-tab-heading>
        <i class="glyphicon glyphicon-bell"></i> hidden!
      </uib-tab-heading>
      I've got an HTML heading, and a select callback. Pretty cool!
    </uib-tab>
    <uib-tab index="3" select="rejected()">
      <uib-tab-heading>
        <i class="glyphicon glyphicon-bell"></i> rejected!
      </uib-tab-heading>
      I've got an HTML heading, and a select callback. Pretty cool!
    </uib-tab>
  </uib-tabset>
</div>
